<div class="d-flex flex-wrap justify-content-around justify-content-md-between justify-content-lg-between">
    <div class="mt-5 order-2 order-md-1">
        <img src="./assets/home/raspa_y_listo_logoRecurso_1-8header.png" alt="logo-raspa-header">
    </div>
    <div class="order-1 order-md-2 cursor-pointer" [routerLink]="[ruta]">
        <img src="./assets/home/logo_super_girosRecurso_2-8header.png" alt="logo-giros-header">
    </div>
    <div class="mt-5 order-3 order-md-3">
        <img src="./assets/home/logo_ganeRecurso3-8header.png" alt="logo-gane-header">
    </div>
</div>