.bg-footer{
    background: rgb(29,50,124);
    background: linear-gradient(90deg, rgba(29,50,124,1) 50%, rgba(21,36,88,1) 100%);
    border-top: 4px solid #593894;
}
.list-style-none{
    list-style: none;
}