<footer class="bg-footer p-5 text-white">
    <div class="d-flex justify-content-between align-items-center container flex-wrap">
        <div class="">
            <img src="./assets/footer/logo_gane_footer.png" alt="logo-gane" class="img-fluid">
        </div>
        <div class="">
            <h4>Oficina principal</h4>
            <ul class="list-style-none p-0">
                <li>Calle 13 No. 4-25 Edificio Carvajal</li>
                <li>PBX: (602) 682 3434 / 884 3434</li>
                <li>Mail: info@gane.com.co / pqrs@gane.com.co</li>
                <li>Cali - Valle del Cauca.</li>
            </ul>
        </div>
        <div>
            <div class="d-flex mb-3" style="gap: 20px;">
                <div class="">
                    <a href="https://www.facebook.com/REDCOLSA" target="_blank">
                        <img src="./assets/footer/fbPNGfooter.png" alt="facebook" class="img-fluid">
                    </a>
                </div>
                <div class="">
                    <a href="https://www.instagram.com/ganecali/" target="_blank">
                        <img src="./assets/footer/igPNGfooter.png" alt="instagram" class="img-fluid">
                    </a>
                </div>
                <div class="">
                    <a href="https://twitter.com/GaneCali" target="_blank">
                        <img src="./assets/footer/twitterPNGfooter.png" alt="twitter" class="img-fluid">
                    </a>
                </div>
                <div class="">
                    <a href="https://www.youtube.com/user/ApuestasGane" target="_blank">
                        <img src="./assets/footer/youtubePNGfooter.png" alt="youtube" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="d-flex">
                <div class="">
                    <a href="https://wa.me/573235663949" target="_blank">
                        <img src="./assets/footer/botonfooter.png" alt="boton-escribenos" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>