<div class="d-flex justify-content-center mt-5 flex-wrap">
    <div class="">
        <img src="./assets/home/entre_mas_3home.png" alt="entre-mas" class="img-fluid">
    </div>
    <div class="">
        <img src="./assets/home/kupi_1home.png" alt="bono-kupi" class="img-fluid">
    </div>
</div>
<div class="container row">
    <div class="offset-md-2 col-md-10 text-white">
        <h3 class="mb-3 fw-bold">Términos y Condiciones:</h3>
        <ul class="line-height-1">
            <li>Promoción válida para registros realizados solamente por la página web.</li>
            <li>No aplica para integrantes ni colocadoras de la familia Gane.</li>
            <li>Personas que residan en la ciudad de Cali.</li>
            <li>El cliente debe ser mayor de edad y registrar su documentos de identidad.</li>
            <li>El cliente deberá hacer su registro completo en el formulario inicial para ingresar a jugar.</li>
            <li>Vigencia promoción: Desde enero 15 hasta Febrero 15 de 2022.</li>
            <li>Sorteo Premio Mayor: Febrero 22 de 2022.</li>
            <li> Son 190 Combos disponibles para 190 clientes diferentes. El cliente solo podrá ganar una (1) vez.</li>
        </ul>
    </div>
</div>